body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App { /*es mejor aplicar este tipo de estilos de separación aquí que en el componente*/
  display: flex;
  flex-direction: column;
  gap: 8px;
}